SECRET_KEY = "CHANGE-ME"
DEBUG = "CHANGE-ME"
ALLOWED_HOSTS = "CHANGE-ME"
DB_ENGINE = "CHANGE-ME"
DB_NAME = "CHANGE-ME"
DB_USER = "CHANGE-ME"
DB_PASSWORD = "CHANGE-ME"
DB_HOST = "CHANGE-ME"
DB_PORT = "CHANGE-ME"